@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  
}
.cancel-button{
  text-transform: uppercase;
  margin-top: 33vh;
  left: 0;
  padding: 2vh;
  border-radius: 20px;
  margin-left: 40%;
  color: black;
}

.active-ride-image{
  background-size:contain; 
}


.active-ride-card{
  background-color: white;
  width: 40vw;
  border-radius: 20px;
  height: 50vh;
  padding: 3vw;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
img {
  margin: 0;
  padding: 0;
}
