@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

@import url("~leaflet/dist/leaflet.css");


/* Palette */
:root {
  --blue: #3b9dff; /* Blue color */
  --green: #45e36c; /* Green color */
  --light-peach: #ffecd9;
  --sand: #fceeb5;
  --white: #fff;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}

.leaflet-routing-alt h2 {
  text-align: center;
  color: #116D6E;
  font-weight: bold;
}

.leaflet-routing-alt h3{
  color:black;
}



















/* Chatbox CSS */
.ChatApp {
  width: 100vw;
  height: 90vh;
  background: #F1EEE5;
  color: #212121;
  font-family: "Open Sans", sans-serif;
  display: grid;
  place-items: center;
  margin-top: 10vh;
  border: solid 1px black;
}

.joinChatContainer {
  display: flex;
  flex-direction: column;
  font-family: "poppins";
  text-align: center;
  background: rgba(241, 238, 229, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.joinChatContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: "poppins";
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.joinChatContainer input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  animation: fadeIn 0.5s ease-in-out;
}

.joinChatContainer input:focus {
  outline: none;
  border-color: #006666;
  box-shadow: 0 0 5px rgba(0, 128, 128, 0.5);
}

.joinChatContainer input::placeholder {
  color: #999;
}

.joinChatContainer input[type="submit"] {
  background-color: #008080;
  color: #fff;
  cursor: pointer;
  animation: fadeIn 0.5s ease-in-out;
}

.joinChatContainer input[type="submit"]:hover {
  background-color: #006666;
}


.joinChatContainer button {
  width: 225px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
  background:linear-gradient(45deg, #008080, #004d4d);
  color: #fff;
  cursor: pointer;
  font-family: "poppins";
  font-weight: bold;
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.joinChatContainer button:hover {
  background:linear-gradient(45deg, #006666, #003333);
}

.chat-window {
  width: 56vw;
 padding: 1vh;
  margin-bottom: 3vh;
  border-radius: 10px;
}

.chat-window .chat-header {
  height: 6vh;
  border-radius: 10px 10px 0px 0px;
  background-color: #116D6E;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;

}
.chat-window .chat-header p {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 0 1em 0 2em;
  margin-left:20px;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
  background-color: #116D6E;
  
}

.chat-window .chat-body {
  height: calc(670px - (45px + 70px));
  border: 1px solid #1c2429;
  border-radius: 0px 0px 10px 10px;
  background: rgb(255, 253, 232);
  overflow-y: auto; 
  position: relative;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  margin-bottom: 1vh;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color:  #F1EEE5;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 400px;
  background-color:#307233;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-start;
}

#you .message-content {
  justify-content: flex-start;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#other {
  justify-content: flex-end;
}

#other .message-content {
  justify-content: center;
  background-color: cornflowerblue;
}

#other .message-meta {
  justify-content: center;
  margin-right: 5px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.message-meta #time {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer {
  height: 8vh;
  border: 1px solid black;
  border-radius: 10px;
  border-top: none;
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
  padding: 0 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chat-window .chat-footer input {
  height: 6vh;
  flex: 85%;
  border: 0;
  font-size: 1rem;
  outline: none;
  margin-top: 1vh;
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: #f0f0f0 0.3s ease;
}

.chat-window .chat-footer input:focus {
  background-color: #ffffff;
}

.chat-window .chat-footer button {
  border: 0;  
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: lightgray;
}

.chat-window .chat-footer button:hover {
  color:#116D6E;
}


.friendlist{
  background-color:  #116D6E;
  width: 40vw;
  height:83vh;
  border-radius: 20px;
  padding:1vh 1vh 1vh 1vh;
  flex:1;
}

.friendlist-names::-webkit-scrollbar {
  width: 10px;
}

.friendlist-names::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 5px;
}

.friendlist-names::-webkit-scrollbar-thumb:hover {
  background-color:#C4DFDF;
}


.friendlist .G2{
  margin-top: 20px;
  padding-top: 0px;
  padding-left: 20px;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  background-color: transparent;
  width: 500px;
  height: 60px;
  margin-left: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  display: flex;
  align-items: center;
}


.blank{
  background-color: white;
  
}
.blank .message{
  padding-left: 800px;
  background-color: white;
  padding-top: -1010px;
}

/************ Default Css ************/
* {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  html {
    scroll-behavior   : smooth;
    scroll-padding-top: 75px;
  }
  
  body {
    font-weight     : 400;
    overflow-x      : hidden;
    position        : relative;
    background-color:#F1EEE5;
    font-family     : 'Centra', sans-serif;
    width           : 100vw;
  }
  
  #home span {
    color: white;
  }
  
  .footer h3 {
    color: black
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color      : white;
    margin     : 0;
    padding    : 0;
    line-height: normal;
  }
  
  p,
  a,
  li,
  button,
  ul {
    margin         : 0;
    padding        : 0;
    line-height    : normal;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  img {
    width : 100%;
    height: auto;
  }
  
  button {
    border          : 0;
    background-color: transparent;
  }
  
  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }

  input::placeholder{
    font-size:20px;
  }
  
  @media (min-width:1700px) {
    main .container {
      max-width: 100%;
      padding  : 0 150px;
    }
  }
  
  p.success {
    color: green;
  }
  
  p.danger {
    color: red;
  }

.MyNavbar{
    padding   : 18px 0;
    color     : black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #FEFEFA;
    position  : fixed;
    width     : 100%;
    height: 10vh;
    top       : 0;
    z-index   : 9999;
    transition: 0.32s ease-in-out;
    display: flex;
    gap: 50px;

}

.i-know-this-class-of-buttons-doesnt-exist{
  color: #116D6E ;
    background-color: transparent;
    font-weight: 700;
    font-size: large;
    margin-bottom: -0.5vh;
    margin-right: 2vw;
}

/* .MyNavbar a{
    color: #116D6E;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 39px;
    font-family: 'Inter', sans-serif;
    font-size: large;
    padding: 5px;
} */


.MyNavbar a:hover {
   border-bottom: #116D6E 4px solid;
    color:black;
  }

.StartRide{
  background-color: #C4DFDF;
  border-radius: 20px;
  padding: 1vw;
  margin-left: 4vw;
}


.MyNavbar h3{
  color:black;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Inter', sans-serif;
  margin-left: 15px;
  margin-top: 5px;
}

.heading{
  font-weight: 700;
  font-size: x-large;
  font-family: 'Inter', sans-serif;
  color: black;
  margin-top: 100px;
}

.profilesec{
  margin-top: 4vh;
  display: flex;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  background-color: white;
  border-radius: 20px;
  width: 700px;
  height: 42vh;
}


@keyframes progress-bar-stripes {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}


.UserDetails{
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  margin-left: 1vw;
  margin-top: 3vh;
}

.profilephotu{
  background-color: grey;
  margin-left: -100px;
  width: 200px;
  height: 200px;
  border-radius: 50%;

}

.greenbox{
  background-color: #116D6E;
  align-self: center;
  margin-top:40px;
  width: 95vw;
  height: 150px;
  color: white;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  border-radius: 10px;
  
}

.walletwagera {
  background-color: white;
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
  padding-left: 20px;
  padding-top: 1vh;
  margin-bottom: 1vh;
  font-size: 20px;
  margin-top: 4vh;
  margin-left: 1vw;
  width: 46vw;
  height: 23vh;
}

.RewardReferral{
  background-color: white;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  padding-left: 20px;
  padding-top: 1vh;
  font-size: 20px;
  margin-left: 1vw;
  margin-top: 0vh;
  width: 46vw;
  height: 18vh;
}

.AllinAll{
  display: flex;
  align-self: center;
  
}

/* .RideHistory{
  margin-top: 150px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  width: 800px;
  margin-left: 50px;
  gap:80px;
} */

.ridebtn{
  background-color: #116D6E;
  color:white;
  font-family: 'Poppins', sans-serif;
  /* font-size: 20px;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  margin-left: 480px; */
}

.required {
  color: red;
  margin-left: 0vw;
}


 .R1{
  margin-top: 25px;
  padding-left: 20px;
  background-color:white;
  width: 650px;
  height: 50px;
  margin-left: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  padding-top: 12px;
}

.PeersOnRide{
  margin-top: 5vh;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  padding-left: 2vh;
}

.MainRider{
  background-color: white;
  width: 400px;
  height: 150px;
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 10px;
}

.OtherPeopleRide{
  background-color: white;
  width: 400px;
  margin-top: 20px;
  height: 300px;
  border-radius: 10px;
  padding-left: 20px;
  overflow-y: scroll;
}


.Hostbtn{
  background-color: #116D6E;
  color:white;
  font-family: 'Inter', sans-serif;
  font-size: x-large;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  width: 24vw;

}

/* .HOSTID{
  margin-top: 30px; 
} */

.TrackCarpool{
  margin-top: 5vh;
  margin-left:20px;
  background-color: white;
  font-family: 'Inter', sans-serif;
  border-radius: 10px;
  width: 600px;
  height: 83vh;
}

.outercover{
  margin-top: 9.5vh;
  display: flex;
  flex-direction: row;
  font-family: 'Inter', sans-serif;
  
}

.AbsoluteRight{
  margin-top: 5vh;
  width: 10vh;
  font-family: 'Inter', sans-serif;
}

.RideUpdate{
  background-color: white;
  font-family: 'Poppins', sans-serif;
  border-radius: 10px;
  padding-top: 15px;
  padding-left: 2vh;
  height: 30vh;
  width: 26vw;
  margin-left: 2vh;
  overflow-y: scroll;
}

.TravelTime{
  background-color: white;
  margin-left: 2vh;
  margin-top: 10px;
  width: 26vw;
  border-radius: 10px;
  font-family: 'Inter', sans-serif;

  height: 124px;
  align-self: center;
  text-align: center;
}


.EstimatedArrival{
  background-color: white;
  margin-left: 2vh;
  margin-top: 10px;
  width: 26vw;
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
  height: 24vh;
  align-self: center;
  text-align: center;
  overflow-y: scroll;
}

.MarkJoinDrop{
  background-color:transparent;
  margin-left: 2vh;
  margin-top: 10px;
  width: 26vw;
  border-radius: 10px;
  font-family: 'Inter', sans-serif;

  height: 5vh;
  align-self: center;
  text-align: center;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #116D6E ;
  border-radius: 100%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@import url("~leaflet/dist/leaflet.css");

input[type="text"] {
  width:10vw;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  background-color:#116D6E;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #39a3a5;
}














