.navBarSection .header{
    
        position:fixed;
        display:flex;
        align-items:center;
        justify-content:space-between;
        background:transparent;
        width:100%;
        padding:1rem;
        z-index:1000;
}

.navBarSection .header .logoDiv .logo{
    color:orange;
    font-weight: 500;
    cursor:pointer;
    align-items:center;
    justify-content: center;
}

.navBarSection .header .logoDiv .logo .icon{
    color:orange;
    font-size:25px;
}

.navBarSection .header .navBar{
        
        
        position: absolute;
        height:max-content;
        padding: 1rem;
        width:100%;
        top:0;
        left:0;
        box-shadow: 0 2px 4px rgba(209,209,209,0.904);
        transition: .5s ease;
        z-index:1000;
}

.navBarSection .header .navBar.navLists{
            flex-direction: row-reverse;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin:10px;
            
        }


    
.navBarSection .header .navBar .navLists.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2.5rem;
    
}

.navBarSection .header .navBar .navLists.flex .headerBtns.flex{
    padding-left: 10rem;
    gap:2rem;
}


            





        

    





