.popular{
    padding-top: 10rem;
}

.popular .secContainer .secHeader{
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    justify-content: center;
    gap:1rem;

}

.popular .secContainer .secHeader .textDiv .secTitle{
    color:black;
    line-height: 1.5rem;
    padding-bottom: .5rem;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.popular .secContainer .secHeader .textDiv p{
    font-size: 18px;
    padding-top: 2rem;
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
}

.popular .secContainer .secHeader .textDiv .iconsDiv{
    gap:0.5rem;

}

.popular .secContainer .secHeader .iconsDiv .icon{
    padding: 0.5rem;
    background: grey;
    border-radius: 50%;
    font-size: 2.5rem;
    
    
}

.popular .secContainer .secHeader .iconsDiv .leftIcon{
    background: black;
    color:white;
    

}


.popular .secContainer .secHeader .iconsDiv .rightIcon{
    background: black;
    color:white;
    

}

.popular .secContainer .mainContent{
    align-items: center;
    justify-content: center;
    padding:2rem 0;
    gap:5rem;

}

.popular .secContainer .mainContent .singleDestination{
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.334);
}

.popular .secContainer .mainContent .singleDestination .destImage{
    height: 200px;
    width:100%;
    position: relative;
    overflow:hidden;

}

.popular .secContainer .mainContent .singleDestination .destImage img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.popular .secContainer .mainContent .singleDestination .destImage .overlayInfo{
    position: absolute;
    display: flex;
    align-items: flex-start;
    padding: 0;
    /* padding: 1rem 1.5rem; */
    justify-content: center;
    flex-direction: column;
    background:linear-gradient(rgba(0,0,0,0.846),rgba(0,0,0,0.759)) ;
    bottom:0;
    width: 100%;
    /* height: 100%; */
    height: 0;
    overflow: hidden;

}

.popular .secContainer .mainContent .singleDestination .destImage .overlayInfo h3{
    color:white;
    font-weight: 600;
}

.popular .secContainer .mainContent .singleDestination .destImage .overlayInfo p{
    color:white;
    opacity: .7;
    font-size: 13px;
}

.popular .secContainer .mainContent .singleDestination .destImage .overlayInfo .icon{
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: .5rem;
    background: black ;
}



.popular .secContainer .mainContent .singleDestination .destFooter{
    padding:1rem;

}

.popular .secContainer .mainContent .singleDestination .destFooter .number{
    font-size: 2rem;
    font-weight: 700;
    color: black;
    position: relative;
    width:max-content;
}

.popular .secContainer .mainContent .singleDestination .destFooter .number::after{
    content: '';
    position: absolute;
    background: orange;
    top: 45%;
    right: -150%;
    height: 5px;
    width: 45px;
    border-radius: 1rem;
}

.popular .secContainer .mainContent .singleDestination .destFooter .destText{
    justify-content: space-between;

}

.popular .secContainer .mainContent .singleDestination .destFooter .destText h6{
    color:black;
    font-size: 15px;
}

.popular .secContainer .mainContent .singleDestination .destFooter .destText .flex{
    font-size: 16px;
    font-weight: 600;
    align-items: flex-start;
    transform: translateY(5px);
}

.popular .secContainer .mainContent .singleDestination .destFooter .destText .flex .icon{
    color:orange;
}

.popular .secContainer .mainContent .singleDestination:hover .overlayInfo{
    
        height: 100%;
        overflow: visible;
        padding: 1rem 1.5rem;

    

}





