.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #E975A8, #726CF8);
    min-height: 100vh;
} 

.container {
    margin: 2rem;
    padding: 2rem 2rem;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
#dabba{
    background-color: #fff;
}

#naam{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

#naam::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #E975A8, #726CF8);
}

.input-box{
    margin: 8px ;
    box-sizing: border-box;
}

.user-details input{
    margin-bottom: 15px;
    width: 50%;
}

.user-details1 .input-box input{
    margin-bottom: 15px;
    width: 50%;
}

.user-details1 {
    display:flex;
    flex-direction: column;
}

.user-details1 .checkbox, .user-details1 .pass-link {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

span.details{
    display: block;
    font-weight: 500;
    font-weight: bolder;
    margin-bottom: 5px;
}

.input-box .user-details{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: rgba(90, 37, 128, 0.902);
}

form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
}

form .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

form .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

form .category label .dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two,
#dot-3:checked~.category label .three {
    background: black;
    border-color: black;
}

form input[type="radio"] {
    display: none;
}

form .button {
    height: 45px;
    margin: 35px 0;
}

form .button input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #E975A8, #726CF8);
}

form .button input:hover {
    background: linear-gradient(-135deg, #E975A8, #726CF8);
}

form .content .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

form .content .pass-link {
    display: flex;
    align-items: center;
    justify-content: right;
    background: linear-gradient(135deg, #E975A8, #726CF8);
}

@media(max-width: 584px) {
    .container {
        max-width: 100%;
    }

    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .category {
        width: 100%;
    }

    .content form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar {
        width: 5px;
    }
}

form .signup-link,
.login-link {
    color: #262626;
    margin-top: 20px;
    text-align: center;
}

form .pass-link a,
form .signup-link a,
form .login-link a {
    color: #4158d0;
    text-decoration: none;
}

form .pass-link a:hover,
form .signup-link a:hover,
form .login-link a:hover {
    text-decoration: underline;
}

@media(max-width: 459px) {
    .container .content .category {
        flex-direction: column;
    }

}

#dabba2 {
    background-color: #fff;
}

#naam2 {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

#naam2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #E975A8, #726CF8);
}

#dabba3 {
    background-color: #fff;
}

#naam3 {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

#naam3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #E975A8, #726CF8);
}
#dabba4 {
    background-color: #fff;
}

#naam4 {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

#naam4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #E975A8, #726CF8);
}
#dabba5 {
    background-color: #fff;
}

#naam5 {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

#naam5::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #E975A8, #726CF8);
}
#reset{
    display: flex;
}

.users{
    display: flex;
    margin: 5px;
    padding: auto;
    gap: 20rem;
}